# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Scons dblite
.sconsign.dblite

# python compiled filed
*.pyc

# vim temporary files
*.swp

# gedit temporary files
*~

# build folder
/build
